<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script
    {% block extralink %}
    {% endblock extralink %}
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
<footer class="container-fluid text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-4">
                <center>
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-th-list"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-random"></span></a></li>
                    </ul>
                </center>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</footer>

<div class="wraper">
    <div class="left-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">{% block leftmenuhead %}{% endblock leftmenuhead %}</div>
            <div class="panel-body" style="min-height: 670px;">{% block leftmenu %}{% endblock leftmenu %}</div>
        </div>
    </div>

    <div class="center-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">{% block centermenuhead %}{% endblock centermenuhead %}</div>
            <div class="panel-body" style="min-height: 670px;">{% block centermenu %}{% endblock centermenu %}</div>
        </div>
    </div>

    <div class="right-menu">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {% block rightmenuhead %}
                    <center>
                        <div id="clock">
                            <!--<script src="{{url_for('static', filename='js/time.js')}}"></script>-->
                        </div>
                    </center>

                {% endblock rightmenuhead %}
            </div>
            <div class="panel-body" style="min-height: 670px;" >
                <center>
                    <div class="alert alert-info">
                        {% if user %}
                            {{ user }}
                        {% endif %}
                    </div>
                </center>
                {% block rightmenu %}
                {% endblock rightmenu %}
            </div>
        </div>
    </div>

</div>
<footer class="container-fluid text-center"></footer>


</body>
</html>
