{% extends 'base/base.html' %}

{% block extralink %}

{% endblock extralink %}


{% block title %}Инженер{% endblock title %}


{% block leftmenu %}
    {% include 'engineer/left_engineer_menu_buttons.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <h4 class="text-center">СМС Активация/Деактивация</h4>
{% endblock centermenuhead %}

{% block centermenu %}




{% endblock centermenu %}

{% block rightmenuhead %}
    <h4 class="text-center">Инженер</h4>
{% endblock rightmenuhead %}

{% block rightmenu %}
    {% include 'engineer/engineer_right_menu_info.html' %}
{% endblock rightmenu %}