{% extends 'base/base.html' %}

{% block extralink %}

{% endblock extralink %}


{% block title %}Инженер{% endblock title %}


{% block leftmenu %}
    {% include 'engineer/left_engineer_menu_buttons.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <h4 class="text-center">СМС Активация/Деактивация</h4>
{% endblock centermenuhead %}

{% block centermenu %}
<div class="text-center">
    <a href="{{ url_for('engineer_sms') }}">
        <button type="button" class="btn btn-info btn-lg" data-placement="right" title="11">Обновить Информацию</button>
    </a>
</div>
    <div style="padding-top: 10px;">
        <div style="height:500px;overflow-y:scroll;;">
            <table class="table">
                <thead>
                <tr class="info">
                    <th width="12%" class="text-center">Дата создания</th>
                    <th width="10%" class="text-center">Пользователь</th>
                    <th width="10%" class="text-center">Объект</th>
                    <th width="62%" class="text-center">Описание</th>
                    <th width="1%" class="text-center">ОК</th>
                    <th width="3%" class="text-center">Выполнить</th>
                    {#                <th width="2%" class="text-center"></th>#}
                </tr>
                </thead>
                <tbody>
                {% if sms_data %}
{#                    {{ objects_data }}#}
                    {% for row in sms_data %}
                        <form method="post" action="{{ url_for('engineer_sms') }}">
                            <tr class="success">
                                <td class="text-center" width="12%"><strong>
                                    {{ row.date_of_creation }}
                                </strong></td>
                                <td class="text-center" width="10%"><strong>
                                    {{ row.username_creation }}
                                </strong>
                                </td>
                                <td class="text-center" width="10%"><strong>
                                    {{ row.object_number }}
                                </strong>
                                </td>
                                <td class="text-center" width="67%">
                                    {{ row.sms_message }}
                                </td>
                                <td class="text-center" width="5%">
                                    <label style="padding-left: 2px; padding-top: 6px;">
                                        <input type="radio" name="optradio" value="{{ row.id }}" required
                                               title="Кликнуть для потверждения">
                                    </label>
                                </td>
                                <td class="text-center" width="5%">
                                    <button type="submit" name="submit" value="update" class="btn btn-success"
                                            title="Кликнуть для Удаления">Отработать
                                    </button>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock centermenu %}

{% block rightmenuhead %}
    <h4 class="text-center">Инженер</h4>
{% endblock rightmenuhead %}

{% block rightmenu %}
    {% include 'engineer/engineer_right_menu_info.html' %}
{% endblock rightmenu %}