{% extends 'base/base.html' %}

{% block extralink %}
{% endblock extralink %}


{% block title %}Инженер{% endblock title %}


{% block leftmenu %}
    {% include 'engineer/left_engineer_menu_buttons.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <h4 class="text-center">Оперативные Карты На Объекты</h4>
{% endblock centermenuhead %}

{% block centermenu %}
        <div class="text-center">
        <a href="{{ url_for('engineer_operational_map') }}">
            <button type="button" class="btn btn-info btn-lg" data-placement="right" title="11">Обновить Информацию
            </button>
        </a>
    </div>
    <!------------------------------Блок таблицы с оперативными карточками--------------------->
    <div style="padding-top: 10px;">
        <div style="height:500px;overflow-y:scroll;;">
            <table class="table">
                <thead>
                <tr class="info">
                    <th width="12%" class="text-center">Дата создания</th>
                    <th width="5%" class="text-center">Пользователь</th>
                    <th width="5%" class="text-center">Объект</th>
                    <th width="36%" class="text-center">Описание</th>
                    <th width="36%" class="text-center">Файл</th>
                    <th width="1%" class="text-center">ОК</th>
                    <th width="3%" class="text-center">Выполнить</th>
                    {#                <th width="2%" class="text-center"></th>#}
                </tr>
                </thead>
                <tbody>
                {#            {%if users_application_pc%}#}
                {#            {%for row in users_application_pc%}#}
                <form method="post" action="{{ url_for('engineer_operational_map') }}">
                        {%if list_map  %}
                            {% for row in list_map %}
                        <tr class="success">
                            <td class="text-center" width="12%"><strong>{{ row.date_of_creation}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{ row.username_create}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{ row.object_number}}</strong></td>
                            <td class="text-center" width="34%"><strong>{{ row.message}}</strong></td>
                            <td class="text-center" width="33%"><strong>
                                {% if list_files %}
                                {% for file in list_files %}
                                    {% if  file ==row.link_file %}
                                        {{ file }}
                                        <a href="{{ url_for('static', filename="media/objects_maps/"+file) }}" download="{{ file }}">
                                            <span class="glyphicon-record glyphicon glyphicon-save "
                                                  style="color: #337ab7; "></span>
                                        <input type="hidden" name="file_name" value="{{ file }}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                            </strong>
                            </td>

                            <td class="text-center" width="5%">
                                <label style="padding-left: 2px; padding-top: 6px;">
                                    <input type="radio" name="optradio" value="{{ row.id }}" required
                                           title="Кликнуть для потверждения">
                                </label>

                            <td class="text-center" width="5%">
                                <button type="submit" name="submit" value="completion" class="btn btn-warning"
                                        title="Кликнуть для Удаления">Отработать
                                </button>
                            </td>

                        </tr>
                            {% endfor %}
                        {% endif %}
                </form>
                {#            {%endfor%}#}
                {#            {%endif%}#}
                </tbody>
            </table>
        </div>
    </div>
    <!-------------------------Конец Блока таблицы с оперативными карточками----------------------->

{% endblock centermenu %}

{% block rightmenuhead %}
    <h4 class="text-center">Инженер</h4>
{% endblock rightmenuhead %}

{% block rightmenu %}
    {% include 'engineer/engineer_right_menu_info.html' %}
{% endblock rightmenu %}