
<div class="text-center">
    <br class="nav navbar-nav navbar-left">
    <form method="post" action="{{url_for('semple_page_engineer')}}">
        <button class="btn btn-danger btn-block" name="submit" type="submit" value="opr_app"
        title="Перейти в заявки Инженеру">Заявки<br>ОПР</button>

        <button class="btn btn-danger btn-block" name="submit" type="submit" value="usr_app"
        title="Перейти в заявки Инженеру">Заявки<br>ЮЗР</button>

        <button class="btn btn-danger btn-block" name="submit" type="submit" value="engineer_operational_map"
        title="Перейти в ">Оперативная<br>Карта<br>на пульт</button>

        <button class="btn btn-danger btn-block" name="submit" type="submit" value="engineer_update_object_users"
        title="Перейти в ">Обновление<br>Хоз Органов<br>На ПЦН</button>

        <button class="btn btn-danger btn-block" name="submit" type="submit" value="tests"
        title="Перейти в раздел Тестов">Тесты</button>
    </form>
</div>
