{%extends 'base/base.html' %}
{%block title%}{%endblock title%}
{%block extralink%}

{%endblock extralink%}


{%block leftmenuhead%}
<div class="text-center"><h4>Settings</h4></div>
{%endblock leftmenuhead%}

{%block leftmenu%}
{%include 'admin/left-settings-menus.html' %}
{%endblock leftmenu%}

{%block centermenuhead%}
<div class="text-center"><h4>Раздел Настроек</h4></div>
{%endblock centermenuhead%}

{%block centermenu%}
<div class="col-xs-12">
    <div class="alert alert-info">Tratata</div>
</div>
{%endblock centermenu%}

{%block rightmenu%}

{%endblock rightmenu%}