{%extends 'base/base.html' %}

{%block extralink%}
{%endblock extralink%}


{%block title%}Инфо{%endblock title%}


{%block leftmenu%}
    <div>
        <h3>
            Меню разделов инстр.<br>
            пользователей
        </h3>
    </div>
{%endblock leftmenu%}


{%block centermenuhead%}
<h4 class="text-center">Инфо блок</h4>
{%endblock centermenuhead%}

{%block centermenu%}
{%endblock centermenu%}


{%block rightmenuhead%}
<h4 class="text-center">Пользователь!</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}