.body{
    background-color: #C2CEEE;
}
.glyphicon {
    font-size: 30px;
}


.wraper{

}
.left-menu{

    height: 100%;
    width: 14%;
    float:left;
    border-radius:5px;
}

.center-menu{

    height: 100%;
    width: 73%;
    float:left;
    border-radius:5px;
    padding-left:2px;
    padding-right:2px;
}
.right-menu{

    height: 100%;
    width: 13%;
    float:left;
    border-radius:5px;
}
#clock{
    height: 40px;
	color: white;
	font-weight: bold;
	font-size: 28px;


}

#errors{
    border-color:red;
    border-style: solid;
    height: 100%;
    border-radius: 5px;

}
.tableusers{
    height: 100px;
    width: 100px;

}


