<div class="text-center">
    <br class="nav navbar-nav navbar-left">
    <!--
     <form >
         <input type="submit" class="btn btn-danger btn-block" value="Заявки ИНЖ">
     </form>
     -->
    <br class="nav navbar-nav navbar-left">
    <form method="post" action="{{url_for('semple_page_users')}}">
        <button class="btn btn-danger btn-block" name="submit" type="submit" value="application_pc"
        title="Перейти в ">Заявки<br>ПК</button>
        <button class="btn btn-danger btn-block" name="submit" type="submit" value="repport_tests"
        title="Перейти в ">Отчет<br>Тесты</button>
    </form>
</div>
