{%extends 'base/base.html' %}

{%block extralink%}
{%endblock extralink%}


{%block title%}Пользователь{%endblock title%}


{%block leftmenu%}
{%include 'users/left_users_menu_buttons.html' %}

{%endblock leftmenu%}


{%block centermenuhead%}
<h4 class="text-center">Отчет по не тестируемым объектам </h4>
{%endblock centermenuhead%}

{%block centermenu%}
        <!------------------------------Блок таблицы с отчетами по тестам--->
    <div style="padding-top: 10px;">
        <div style="height:500px;overflow-y:scroll;;">
            <table class="table">
                <thead>
                <tr class="info">
                    <th width="12%" class="text-center">Дата создания</th>
                    <th width="5%" class="text-center">Пользователь</th>
                    <th width="36%" class="text-center">Описание</th>
                    <th width="36%" class="text-center">Файл</th>
                    <th width="1%" class="text-center">ОК</th>
                    <th width="3%" class="text-center">Выполнить</th>
                </tr>
                </thead>
                <tbody>


                        {%if list_no_test  %}
                            {% for row in no_test  %}
                <form method="post" action="{{ url_for('users_operational_map') }}">
                        <tr class="success">
                            <td class="text-center" width="12%"><strong>{{ row.date_of_creation}}</strong></td>
                            <td class="text-center" width="10%"><strong>{{ row.username_create}}</strong></td>
                            <td class="text-center" width="34%"><strong>{{ row.message}}</strong></td>
                            <td class="text-center" width="33%"><strong>
                                {% if list_files %}
                                {% for file in list_files %}
                                    {% if  file ==row.link_file %}
                                        {{ file }}
                                        <a href="{{ url_for('static', filename="media/objects_maps/"+file) }}" download="{{ file }}">
                                            <span class="glyphicon-record glyphicon glyphicon-save "
                                                  style="color: #337ab7; "></span>
                                        <input type="hidden" name="file_name" value="{{ file }}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                            </strong>
                            </td>

                            <td class="text-center" width="5%">
                                <label style="padding-left: 2px; padding-top: 6px;">
                                    <input type="radio" name="optradio" value="{{ row.id }}" required
                                           title="Кликнуть для потверждения">
                                </label>

                            <td class="text-center" width="5%">
                                <button type="submit" name="submit" value="delete" class="btn btn-danger"
                                        title="Кликнуть для Удаления">Отменить
                                </button>
                            </td>

                        </tr>
                </form>
                            {% endfor %}
                        {% endif %}

                {#            {%endfor%}#}
                {#            {%endif%}#}
                </tbody>
            </table>
        </div>
    </div>
    <!-------------------------Конец Блока таблицы с отчетами по тестам------------------------>
{%endblock centermenu%}


{%block rightmenuhead%}
<h4 class="text-center">Пользователь</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}