{%extends 'base/base.html' %}
{%block extralink%}
{%endblock extralink%}


{%block title%}Пользователь{%endblock title%}


{%block leftmenu%}
{%include 'users/left_users_menu_buttons.html' %}
{%endblock leftmenu%}


{%block centermenuhead%}
<h4 class="text-center">Оперативная Карточка На ПЦН</h4>
{%endblock centermenuhead%}

{%block centermenu%}
    <span class="glyphicon glyphicon-file" style="color: #337ab7; "></span>
    <span class="glyphicon-record glyphicon glyphicon-save " style="color: #337ab7; "></span>
{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Пользователь</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}