<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="text-center">
                <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Инфо">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-2">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{url_for('operator')}}" title="Орератор">
                        <span class="glyphicon glyphicon-object-align-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1 col-sm-offset-5">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-random"></span></a></li>
            </ul>
        </div>
    </div>
</div>