{%extends 'base.html'%}
{%block extralink%}
{%endblock extralink%}

{%block footer%}
{%include 'base_footer_engineer.html' %}
{%endblock%}

{%block title%}Инженер{%endblock title%}


{%block leftmenu%}
{%include 'left_engineer_menu_buttons.html'%}
{%endblock leftmenu%}

{%block centermenuhead%}
<h4 class="text-center">Журнал разнарядки заявок для Электромонтеров</h4>
{%endblock centermenuhead%}

{%block centermenu%}

<div style="padding-top: 10px;">
    <table class="table table table-condensed ">
        <thead>
        <tr class="info">
            <!--                <th width="10%" class="text-center">Дата <br>создания</th> -->
            <th width="5%" class="text-center">Оператор</th>
            <th width="10%" class="text-center">Объект</th>
            <th width="10%" class="text-center">На какое число</th>
            <th width="12%" class="text-center">Название<br>объекта</th>
            <th width="10%" class="text-center">Адресс</th>
            <th width="10%" class="text-center">От кого заявка</th>
            <th width="20%" class="text-center">Описание<br>заявки</th>
            <th width="1%" class="text-center text-danger">ОК</th>
            <th width="10%" class="text-center text-danger">Выполнить</th>
            <th width="1%" class="text-center text-danger"></th>
        </tr>
        </thead>
    </table>

    <div style="height:500px;overflow-y:scroll; width:100%;overflow-x :scroll;">

        <table class="table table-condensed ">
            <tbody>
            <form method="post" action="{{url_for('operator_application_for_electricians')}}">
                <tr class="success">
                    <td class="text-center" width="10%"><strong>2</strong></td>
                    <!--                    <td class="text-center" width="5%"><strong></strong></td> -->
                    <td class="text-center" width="11%"><strong>2005</strong></td>
                    <td class="text-center" width="10%"><strong>на 25-07-2017</strong></td>
                    <td class="text-center" width="10%"><strong>ЧД Петрова</strong></td>
                    <td class="text-center" width="10%"><strong>улю уличная12 кв 77</strong></td>
                    <td class="text-center" width="10%"><strong>от кого то</strong></td>
                    <td class="text-center" width="20%"><strong>Нет теста</strong></td>
                    <td class="text-center" width="1%">
                        <label style="padding-left: 5px; padding-top: 6px;">
                            <input type="radio" name="optradio" value="" required
                                   title="Кликнуть для потверждения">
                        </label>
                    </td>
                    <td class="text-center" width="10%">
                        <button type="submit" name="submit" value="write_of" class="btn btn-danger"
                                title="Кликнуть для Списания заявки">Списать
                        </button>

                    </td>
                </tr>
            </form>
            <form method="POST"  action="">
            <tr class="success warning">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="25%">
                Назначить заявку на Экипаж №
            </td>
            <td>
                <label style="padding-left: 5px; padding-top: 6px;">
                    <select type="radio" name="electrician" required title="Выбрать номер экипажа">
                        <option>1</option>
                        <option>7</option>
                    </select>
                </label>
            </td>
            <td>
                <label style="padding-left: 5px; padding-top: 6px;">
                    <input type="radio" name="optradio" value="" required
                           title="Кликнуть для потверждения">
                </label>
            </td>
            <td>
                <button type="submit" name="submit" value="write_of" class="btn btn-warning"
                        title="Кликнуть для Списания заявки">&nbsp;Заявка&nbsp;
                </button>
            </td>
            </tr>
            </tbody>
            </form>
        </table>

    </div>
</div>

{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Инженер</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}
{%include 'engineer_right_menu_info.html' %}
{%endblock rightmenu%}