{%extends 'base.html'%}
{%block extralink%}
{%endblock extralink%}

{%block footer%}
{%include 'base_footer_engineer.html' %}
{%endblock%}

{%block title%}Инженер{%endblock title%}


{%block leftmenu%}
{%include 'left_engineer_menu_buttons.html'%}
{%endblock leftmenu%}

{%block centermenuhead%}
<h4 class="text-center">Журнал разнарядки заявок для Электромонтеров</h4>
{%endblock centermenuhead%}

{%block centermenu%}
<h3>Будут заявки для ЭлекторМонтеров</h3>
{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Инженер</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}
{%include 'engineer_right_menu_info.html' %}
{%endblock rightmenu%}