<div class="text-center">
    <br class="nav navbar-nav navbar-left">
    <form>
        <input type="submit" class="btn btn-danger btn-block" value="Пользователи">
    </form>
    <form>
        <input type="submit" class="btn btn-danger btn-block" value="ТЛ" style=" margin-top: 4px;">

        <form>
            <input type="submit" class="btn btn-danger btn-block" value="Заявки ОПР" style=" margin-top: 4px;">
        </form>
    </form>
    <form>
        <input type="submit" class="btn btn-danger btn-block" value="Заявки ЭЛМ" style=" margin-top: 4px;">
    </form>
</div>
