{% extends 'base.html' %}
{% block extralink %}
{% endblock extralink %}
{% block title %}Monitoring{% endblock title %}

{% block leftmenuhead %}
    <center><h4>Monitoring</h4></center>
{% endblock leftmenuhead %}

{% block leftmenu %}
    {% include 'left-monitoring-menu.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <center><h4>Раздел Мониторинга</h4></center>
{% endblock centermenuhead %}
{% block centermenu %}
    <div class="col-xs-12">
        <div class="alert alert-info">Tratata</div>
    </div>
{% endblock centermenu %}