{% extends 'base.html' %}
{% block extralink %}
{% endblock extralink %}
{% block title %}Monitoring{% endblock title %}

{% block leftmenuhead %}
    <center><h4>Monitoring</h4></center>{% endblock leftmenuhead %}
{% block leftmenu %}

    {% include 'left-monitoring-menu.html' %}
{% endblock leftmenu %}

{% block centermenuhead %}
    <center><h4>Monitoring in Base</h4></center>
{% endblock centermenuhead %}

{% block centermenu %}
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <center>Настройки выборки из архива</center>
            </div>
                <pre>
                            Создать параметры выборки:
                    1) С 00 и по 00 и названию устройства

                </pre>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <center>Table</center>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>CH1</th>
                        <th>CH2</th>
                        <th>CH3</th>
                        <th>CH4</th>
                        <th>CH5</th>
                        <th>CH6</th>
                        <th>CH7</th>
                        <th>CH8</th>
                        <th>Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data %}
                        {% for row in data %}
                            <tr>
                                <th>{{ row.kay }}</th>
                                <th>{{ row.ch1 }}</th>
                                <th>{{ row.ch2 }}</th>
                                <th>{{ row.ch3 }}</th>
                                <th>{{ row.ch4 }}</th>
                                <th>{{ row.ch5 }}</th>
                                <th>{{ row.ch6 }}</th>
                                <th>{{ row.ch7 }}</th>
                                <th>{{ row.ch8 }}</th>
                                <th>{{ row.datetimes[0:-7] }}</th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock centermenu %}
