{% extends 'base.html' %}

{% block leftmenu %}
    Monitor
{% endblock leftmenu %}
{% block centermenu %}

{% endblock centermenu %}
{% block body %}
    <h4>Датчики!</h4>
    {% if data %}
        <a>kay : {{ data.kay }}</a> <br>
        <a>Line In1 : {{ data.CH1 }}</a> <br>
        <a>Line In2 : {{ data.CH2 }}</a> <br>
        <a>Line In3 : {{ data.CH3 }}</a> <br>
        <a>Line In4 : {{ data.CH4 }}</a> <br>
        <a>Line In5 : {{ data.CH5 }}</a> <br>
        <a>Line In6 : {{ data.CH6 }}</a> <br>
        <a>Line In7 : {{ data.CH7 }}</a> <br>
        <a>Line In8 : {{ data.CH8 }}</a> <br>
    {% endif %}
{% endblock body %}