{%extends 'base.html'%}
{%block extralink%}
{%endblock extralink%}

{%block navbar%}

{%endblock%}

{%block title%}Оператор{%endblock title%}


{%block leftmenu%}
{%include 'left_operator_menu_buttons.html'%}
{%endblock leftmenu%}

{%block centermenuhead%}
<h4 class="text-center">Тесты</h4>
{%endblock centermenuhead%}

{%block centermenu%}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="text-center">
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#myModal"
                                        data-placement="right"
                                        title="Нажать левую кнопку мыши для записи в не терстируемые">Нет Теста
                                </button>

                                <a href="{{ url_for('operator_test') }}">
                                    <button type="button" class="btn btn-info btn-lg"
                                            data-placement="right"
                                            title="Нажать левую кнопку мыши для обновления информации">
                                        Обновить Информацию
                                    </button>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Отсутсвие Теста</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="{{ url_for('operator_test') }}">
                                                    <div class="form-group">
                                                        <label for="number_object">Ввести номер объекта :</label>
                                                        <input class="form-control" type="number" name="number_object"
                                                               id="number_object">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sel1">Почему отсутствует тест:</label>
                                                        <select class="form-control" name="why_there_is_no_test" id="sel1">
                                                            <option class="text-center"></option>
                                                            <option class="text-center">АКТ</option>
                                                            <option class="text-center">Отсутствует 220 Вольт</option>
                                                            <option class="text-center">Замена Оборудования</option>
                                                            <option class="text-center">Вырезан Кабель</option>
                                                            <option class="text-center">Переодически</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" name="submit" value="create_note"
                                                                class="btn btn-warning">
                                                            Записать в журнал
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height:300px;">
                    <table class="table">
                        <thead>
                        <tr class="info">
                            <th width="18%" class="text-center">Дата <br>создания</th>
                            <th width="17%" class="text-center">Оператор</th>
                            <th width="17%" class="text-center">Объект</th>
                            <th width="40%" class="text-center">Причина отсутствия теста</th>
                            <th width="1%" class="text-center text-danger">ОК</th>
                            <th width="5%" class="text-center text-danger">Выполнить</th>
                            <th width="2%" class="text-center text-danger"></th>
                        </tr>
                        </thead>
                    </table>

                    <div style="height:300px;overflow-y:scroll; width:100%;overflow-x :scroll;">
                        {%if no_tests%}
                        {%for row in no_tests%}
                        <table class="table">
                            <tbody>
                            <form method="post" action="{{url_for('operator_test')}}">
                                <tr class="success">
                                    <td class="text-center" width="18%"><strong>{{row.date_no_test}}</strong></td>
                                    <td class="text-center" width="17%"><strong>{{row.name_operator}}</strong></td>
                                    <td class="text-center" width="17%"><strong>{{row.object_number}}</strong></td>
                                    <td class="text-center" width="42%"><strong>{{row.why_there_is_no_test}}</strong>
                                    </td>
                                    <td class="text-center" width="1%">
                                        <label style="padding-left: 5px; padding-top: 6px;">
                                            <input type="radio" name="optradio" value="{{row.id}}" required
                                            title="Кликнуть для потверждения удаления">
                                        </label>
                                    </td>
                                    <td class="text-center" width="5%">
                                        <button type="submit" name="submit" value="delete" class="btn btn-danger"
                                        title="Кликнуть для удаления">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">Тесты За Переод</div>
                </div>
                <div class="panel-body" style="min-height:300px;">
                    <table class="table">
                        <thead>
                        <tr class="info">
                            <th width="18%" class="text-center">Дата <br>создания</th>
                            <th width="17%" class="text-center">Оператор</th>
                            <th width="17%" class="text-center">Объект</th>
                            <th width="40%" class="text-center">Причина отсутствия теста</th>
                            <th width="1%" class="text-center text-danger">ОК</th>
                            <th width="2%" class="text-center text-danger"></th>
                            <th width="5%" class="text-center text-danger">Выполнить</th>
                            <th width="2%" class="text-center text-danger"></th>
                        </tr>
                        </thead>
                    </table>
                    <div style="height:300px;overflow-y:scroll; width:100%;overflow-x :scroll;">

                        {%if no_tests%}
                        {%for row in no_tests%}
                        <table class="table">
                            <tbody>
                            <form method="post" action="{{url_for('operator_test')}}">
                                <tr class="success">
                                    <td class="text-center" width="18%"><strong>{{row.date_no_test}}</strong></td>
                                    <td class="text-center" width="17%"><strong>{{row.name_operator}}</strong></td>
                                    <td class="text-center" width="17%"><strong>{{row.object_number}}</strong></td>
                                    <td class="text-center" width="42%"><strong>{{row.why_there_is_no_test}}</strong>
                                    </td>
                                    <td class="text-center" width="1%">
                                        <label style="padding-left: 5px; padding-top: 6px;">
                                            <input type="radio" name="optradio" value="{{row.id}}" required
                                             title="Кликнуть для потвержденияи копирования">
                                        </label>
                                    </td>
                                    <td class="text-center" width="5%">
                                        <button type="submit" name="submit" value="copy" class="btn btn-warning"
                                        title="Кликнуть что бы скопировать в текущие">
                                            Копировать
                                        </button>
                                        <br>
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Оператор</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}