{%extends 'base.html'%}
{%block extralink%}
{%endblock extralink%}

{%block navbar%}

{%endblock%}

{%block title%}Инженер{%endblock title%}


{%block leftmenu%}
{%include 'left_operator_menu_buttons.html'%}
{%endblock leftmenu%}

{%block centermenuhead%}
<h4 class="text-center">Журнал заявок для Электромонтеров</h4>
{%endblock centermenuhead%}

{%block centermenu%}
<!--------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                    data-placement="right" title="Нажать левую кнопку мыши для создания заявки элм"> Заявка
                ЭЛМ
            </button>
            <a href="{{ url_for('operator_application_for_electricians')}}">
                <button type="button" class="btn btn-info btn-lg"
                        data-placement="right" title="Нажать левую кнопку мыши для обновления информации">
                    Обновить Информацию
                </button>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Заявка Электромонтеру </h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ url_for('operator_application_for_electricians') }}">
                                <div class="form-group">
                                    <label for="number_object">Ввести номер объекта :</label>
                                    <input class="form-control" type="number" name="number_object" id="number_object"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="comment_date">На какое число :</label>
                                    <input class="form-control" type="date" name="on_which_date" id="comment_date"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="comment_address">Адресс объекта :</label>
                                    <input class="form-control" type="text" name="address_object" id="comment_address"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="comment_name">Название объекта :</label>
                                    <input class="form-control" type="text" name="name_object" id="comment_name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="comment">От кого Заявка :</label>
                                    <input class="form-control" type="text" name="from_whom_application" id="comment"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="comment_comment">Описание заявки:</label>
                                    <textarea class="form-control" name="application_description" rows="5"
                                              id="comment_comment"> </textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="submit" value="create_note" class="btn btn-warning">
                                        Создать Заявку
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<div style="padding-top: 10px;">

    <div style="height:550px;overflow-y:scroll; width:100%;overflow-x :scroll;">
        <table class="table">
            <thead>

            <tr class="info">

                <th width="1%" class="text-center">Дата <br>создания</th>
                <th width="1%" class="text-center">Оператор</th>
                <th width="1%" class="text-center">Объект</th>
                <th width="1%" class="text-center">На какое число</th>
                <th width="2%" class="text-center">Название<br>объекта</th>
                <th width="2%" class="text-center">Адресс</th>
                <th width="2%" class="text-center">От кого заявка</th>
                <th width="10%" class="text-center">Описание<br>заявки</th>
                <th width="1%" class="text-center text-danger">ОК</th>
                <th width="1%" class="text-center text-danger">Выполнить</th>
            </tr>
            </thead>
            {%if app%}
            {%for row in app%}

            <tbody>
            <form method="post" action="{{url_for('operator_application_for_electricians')}}">
                <tr class="success">
                    <td class="text-center"><strong>{{row.date_of_creation}}</strong></td>
                    <td class="text-center"><strong>{{row.name_operator}}</strong></td>
                    <td class="text-center"><strong>{{row.number_object}}</strong></td>
                    <td class="text-center"><strong>{{row.on_which_date }}</strong></td>
                    <td class="text-center"><strong>{{row.name_object}}</strong></td>
                    <td class="text-center"><strong>{{row.address_object}}</strong></td>
                    <td class="text-center"><strong>{{row.from_whom_application}}</strong></td>
                    <td class="text-center"><strong>{{row.application_description}}</strong></td>
                    <td class="text-center">
                        <label style="padding-left: 5px; padding-top: 6px;">
                            <input type="radio" name="optradio" value="{{row.id}}" required>
                        </label>
                    </td>
                    <td class="text-center">
                        <button type="submit" name="submit" value="delete" class="btn btn-danger">Удалить</button>
                    </td>
                </tr>
            </form>
            </tbody>
            {%endfor%}
            {%endif%}
        </table>
    </div>
</div>

{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Оператор</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}