{%extends 'base.html'%}
{%block title%}Setings{%endblock title%}

{%block extralink%}
{%endblock extralink%}

{%block leftmenuhead%}
<div class="text-center"><h4>Settings</h4></div>
{%endblock leftmenuhead%}

    {%block leftmenu%}
{%include 'left-settings-menus.html'%}
{%endblock leftmenu%}


    {%block centermenuhead%}
<h4 class="text-center">Настройки Телефонных Номеров</h4>
{%endblock centermenuhead%}

    {%block centermenu%}
{%endblock centermenu%}


    {%block rightmenuhead%}
<h4 class="text-center">Админ</h4>
{%endblock rightmenuhead%}


    {%block rightmenu%}
{%endblock rightmenu%}