<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST PAGE ELECTRICIAN</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="bs-example">
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="text-left">
                    <img src="static/img/bg.svg" style="height: 50px; height: 50px;border-radius: 3px;">
                    GHR Control Systems
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Мои Заявки</a></li>
                            <li><a href="#">Все Заявки</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Моя статистика</a></li>
                            <li><a href="#">Вся статистика</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 ">
            <div style="padding-top: 10px;">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="text-center">Заявка №1</div>
                </div>
            </div>
            <div class="panel-body" style="min-height:300px;">
                <div style="height:550px;overflow-y:scroll;;">
                    <table class="table">
                        <thead>
                        <tr class="info">
                            <th width="10%" class="text-center" style="font-size:12px;">Дата создания</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form method="post" action="/operator">
                            <tr class="success">
                                <td class="text-center" style="font-size:10px;"><strong>27-02-2017 16:00:00</strong>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                        <thead>
                        <tr class="info">
                            <th width="10%" class="text-center" style="font-size:12px;">Дата создания</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form method="post" action="/operator">
                            <tr class="success">
                                <td class="text-center" style="font-size:10px;"><strong>27-02-2017 16:00:00</strong>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!------------------------------------------------------------------>
