{%extends 'base/base.html' %}
{%block extralink%}
{%endblock extralink%}


{%block title%}Оператор{%endblock title%}


{%block leftmenu%}
{%include 'operator/left_operator_menu_buttons.html' %}
{%endblock leftmenu%}


{%block centermenuhead%}
<h4 class="text-center">Журнал заявок для инженера</h4>
{%endblock centermenuhead%}

{%block centermenu%}
<!------------------------------------------------------------------------------------>
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
                    data-placement="right" title="Нажать левую кнопку мыши для создания заявки инженеру"> Заявка
                Инженеру
            </button>

            <a href="{{ url_for('operator') }}">
                <button type="button" class="btn btn-info btn-lg"
                        data-placement="right" title="Нажать левую кнопку мыши для обновления информации">
                    Обновить Информацию
                </button>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Заявка Инженеру </h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{{ url_for('operator') }}">
                                <div class="form-group">
                                    <label for="select_pult">Выбрать Пульт:</label>
                                    <select class="form-control" name="select_pult" id="select_pult">
                                        <option class="text-center">Грифон</option>
                                        <option class="text-center">Феникс</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="number_object">Ввести номер объекта :</label>
                                    <input class="form-control" type="number" name="number_object" id="number_object">
                                </div>
                                <div class="form-group">
                                    <label for="sel1">Что нужно сделать:</label>
                                    <select class="form-control" name="select_operation" id="sel1">
                                        <option class="text-center">Добавить</option>
                                        <option class="text-center">Изменить</option>
                                        <option class="text-center">Добавить Х.О</option>
                                        <option class="text-center">Добавить Г.З</option>
                                        <option class="text-center">Добавить ТЛ.</option>
                                        <option class="text-center">Удалить Х.О</option>
                                        <option class="text-center">Удалить Г.З.</option>
                                        <option class="text-center">Удалить ТЛ.</option>
                                        <option class="text-center">Убрать из 220</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Добавить текст если нужно:</label>
                                    <textarea class="form-control" name="add_comment" rows="5" id="comment" > </textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="submit" value="create_note" class="btn btn-warning">
                                        Записать в журнал
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!------------------------------------------------------------------------------------>

<div style="padding-top: 10px;">
            <table class="table">
            <thead>
            <tr class="info">
                <th width="12%" class="text-center">Дата создания</th>
                <th width="10%" class="text-center">Оператор</th>
                <th width="10%" class="text-center">Пульт</th>
                <th width="10%" class="text-center">Объект</th>
                <th width="44%" class="text-center">Описание</th>
                <th width="1%" class="text-center">ОК</th>
                <th width="3%" class="text-center">Выполнить</th>
                <th width="2%" class="text-center"></th>
            </tr>
            </thead>
            </table>

    <div style="height:500px;overflow-y:scroll;;">
           <table class="table">
            {%if application_operator%}
            {%for row in application_operator%}
            <tbody>
            <form method="post" action="/operator">
                <tr class="success">
                    <td class="text-center" width="12%"><strong>{{row.date_of_creation}}</strong></td>
                    <td class="text-center" width="10%">{{row.name_operator}}</td>
                    <td class="text-center" width="10%">{{row.name_pult}}</td>
                    <td class="text-center" width="10%"><strong>{{row.number_object}}</strong></td>
                    <td class="text-center" width="44%"><strong>{{row.message}}</strong></td>

                    <td class="text-center" width="1%">
                        <label style="padding-left: 5px; padding-top: 6px;">
                            <input type="radio" name="optradio" value="{{row.id}}" required
                            title="Кликнуть для потверждения">
                        </label>
                    </td>
                    <td class="text-center" width="3%">
                        <button type="submit" name="submit" value="delete" class="btn btn-danger"
                        title="Кликнуть для Удаления">Отменить</button>
                    </td>
                </tr>
            </form>
            </tbody>
            {%endfor%}
            {%endif%}
        </table>
    </div>
</div>

{%endblock centermenu%}

{%block rightmenuhead%}
<h4 class="text-center">Оператор</h4>
{%endblock rightmenuhead%}

{%block rightmenu%}

{%endblock rightmenu%}